html {
  margin: 0;
  background-color: #f7f7f7;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* All divs with a `lang` attribute are bold. */
div[project="beegol"] {
  color: blue;
  font-weight: bold;
}

div[project="claro"] {
  color: red;
}

.btn-primary.button-search[project="beegol"] {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-primary.disabled, .btn-primary:disabled[project="beegol"]  {
  opacity: .65;
}

.btn-primary.button-search[project="claro"] {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-primary.disabled, .btn-primary:disabled[project="claro"]  {
  opacity: .65;
}

.titlebar[project="claro"]{
  background: #e56572;
  color: #fff;
  text-align: center;
}

.titlebar[project="beegol"]{
  background: #6c757d;
  color: #fff;
  text-align: center;
}

.div-title[project="beegol"] {
  background-color: #6c757d!important;
}

.div-title[project="claro"] {
  background-color: #dc3545!important;
}

.btn-link[project="beegol"] {
  font-weight: 400;
  color: #6c757d;
  text-decoration: none;
}

.btn-link[project="claro"] {
  font-weight: 400;
  color: #dc3545;
  text-decoration: none;
}

.btn-primary[project="beegol"] {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-primary.disabled[project="beegol"]  {
  opacity: .65;
}

.btn-primary[project="claro"] {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-primary.disabled[project="claro"] {
  opacity: .65;
}